<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  {%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
  <title></title>
</head>
<body>
<div class="navbar navbar-default navbar-inverse">
  <div class="container">
    <div class="navbar-header">
    <a  class="navbar-brand" href="/exam">SPEEG </a>
  </div>
  <ul class="nav navbar-nav">
    <li><a href="/hydjobs" class="btn btn-primary btn-sm" >Hyderabad jobs</a></li>
    <li><a href="/banglorejobs" class="btn btn-primary btn-sm" >Banglore jobs jobs</a></li>
     <li><a href="/punejobs" class="btn btn-primary btn-sm" >Pune jobs</a></li>
     <li><a href="/chennaijobs" class="btn btn-primary btn-sm" >Chenai jobs</a></li>
     <li><a href="/register" class="btn btn-primary btn-sm" >Click here to add data</a></li>
     <li><a href="/studentlist" class="btn btn-primary btn-sm" >See All Student List</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/signup" class="btn btn-primary btn-sm" >Signup</a></li>
    <li><a href="accounts/login" class="btn btn-primary btn-sm">Login</a></li>
    <li><a href="accounts/logout" class="btn btn-primary btn-sm">Logout</a></li>
  </ul>
  </div>
  </div>
</nav>
{%block body_block%}
{%endblock%}
</body>
</html>