<!DOCTYPE html>
{%extends 'index.html'%}
{% block body_block%}

	{%load static%}
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Hanalei&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'thank.css' %}">

	<title></title>
</head>
<body>
<h1>Thank You Very Much For For Filling This Form Soon Our Expert Will Contact to u</h1>
<h2>Have A Nice Day</h2>
<h3>Bye.....bye......</h3>
{%endblock%}